@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#Admin {
  margin: auto;
  width: 206px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f95555;
  box-shadow: 0px 10px 30px rgba(249, 85, 85, 0.2);
  border-radius: 4px 20px;
  padding: 12px 30px;
  cursor: pointer;
  border: 1px solid #f95555;
  transition: all 0.4s;
  position: relative;
  display: none;
  h3 {
    font-family: "Poppins";
    transition: all 0.4s font-style normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #fff;
  }
  i {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 5px;
    color: #000000;
  }
  &:hover {
    background: #fff;
    h3 {
      color: #f95555;
    }
  }
}
.dropdown {
  position: absolute;
  top: 100px;
  background: rgb(243, 240, 236);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding: 30px;
  border-radius: 25px;
  z-index: 100;
  left: 55.5%;
  display: none;
  .kill {
    display: flex;
    gap: 10px;
  }
  .boss {
    display: flex;
    gap: 10px;
  }
  label {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }
  h4 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }
  .butn {
    margin-top: 10px;
  }
}
.div {
  width: 385px;
  flex-direction: column;
  margin: auto;
  align-items: center;
  position: fixed;
  left: 38%;
  top: 8%;
  border-radius: 10px;
  display: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-top: 7%;
  padding-top: 1%;
  z-index: 100;
  .flex {
    padding: 0 29px;
    img {
      width: 310px;
      height: 187px;
    }
    h2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #000000;
      margin-top: 36px;
      margin-bottom: 18px;
      text-align: center;
    }
    input {
      border: 1px solid #887e7e;
      border-radius: 5px;
      width: 330px;
      height: 60px;
      margin-bottom: 11px;
      padding-left: 19px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #3e3c3c;
      margin-bottom: 11px;
      display: block;
      &::placeholder {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #635c5c;
      }
    }
    button {
      margin: auto;
      width: 206px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #f95555;
      box-shadow: 0px 10px 30px rgba(249, 85, 85, 0.2);
      border-radius: 4px 20px;
      padding: 12px 30px;
      cursor: pointer;
      border: 1px solid #f95555;
      transition: all 0.4s;
      margin-bottom: 50px;
      a {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: #fff;
        text-decoration: none;
        text-align: center;
      }
      &:hover {
        background-color: #fff;
        a {
          color: #f95555;
        }
      }
    }
  }
}
.container {
  // border: 1px solid red;
  .opacity {
    opacity: 1;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 70px 27px;
    border-bottom: 1px solid #f0f0ed;
    img {
      cursor: pointer;
    }
    ul {
      display: flex;
      gap: 47px;
      list-style-type: none;
      align-items: center;
      button {
        margin: auto;
        width: 206px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #f95555;
        box-shadow: 0px 10px 30px rgba(249, 85, 85, 0.2);
        border-radius: 4px 20px;
        padding: 12px 30px;
        cursor: pointer;
        border: 1px solid #f95555;
        transition: all 0.4s;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 32px;
        color: #fff;
        &:hover {
          color: #f95555;
          background: #fff;
        }
      }
      li {
        a {
          text-decoration: none;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 140%;
          text-transform: capitalize;
          color: #2b2b2b;
          &::after {
            transition: all 0.5s;
            content: "";
            display: block;
            height: 2px;
            width: 0;
            background-color: #2b2b2b;
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
      i {
        display: none;
        cursor: pointer;
      }
    }
    .svg {
      display: flex;
      gap: 39px;
      align-items: center;
      justify-content: center;
      svg {
        cursor: pointer;
      }
      div {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 16px;
        gap: 10px;
        width: 56px;
        height: 56px;
        background: #ffffff;
        border-radius: 85px;
        // filter: drop-shadow(0px 2px 30px rgba(249, 85, 85, 0.3));
        box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
          rgba(0, 0, 0, 0.05) 0px 5px 10px;

        transition: all 0.7s;
        &:hover {
          transition: all 0.7s;
          transform: scale(0.9);
        }
      }
    }
  }
  main {
    .section1 {
      padding: 40px 160px;
      display: flex;
      gap: 150px;
      justify-content: center;
      .left {
        display: flex;
        flex-direction: column;
        position: relative;
        &::after {
          content: url(./images/vector.png);
          position: absolute;
          left: 505px;
          top: 410px;
        }
        .box {
          display: flex;
          align-items: center;
          margin-bottom: 30px;
          img {
            padding: 5px 13px;
            background: #f95555;
            border-radius: 22px 0 0 22px;
          }
          h4 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            color: #2b2b2b;
            background: rgba(249, 85, 85, 0.05);
            border-radius: 30px;
            padding: 6px 16px;
          }
        }
        h1 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 700;
          font-size: 80px;
          line-height: 120%;
          text-transform: capitalize;
          color: #2b2b2b;
          margin-bottom: 20px;
          span {
            color: #f95555;
          }
        }
        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 32px;
          color: #4a4a4a;
          margin-bottom: 40px;
        }
        .dbl_div {
          display: flex;
          gap: 40px;
          margin-bottom: 54px;
          .chapga {
            width: 206px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #f95555;
            box-shadow: 0px 10px 30px rgba(249, 85, 85, 0.2);
            border-radius: 4px 20px;
            padding: 12px 30px;
            cursor: pointer;
            border: 1px solid #f95555;
            transition: all 0.4s;
            &:hover {
              background-color: #ffffff;
              h3 {
                color: #f95555;
              }
              svg {
                path {
                  fill: #f95555;
                }
              }
            }
            h3 {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 32px;
              color: white;
            }
          }
          .ungga {
            width: 206px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: #fff;
            box-shadow: 0px 10px 30px rgba(249, 85, 85, 0.2);
            border-radius: 4px 20px;
            padding: 12px 30px;
            cursor: pointer;
            border: 1px solid #f95555;
            transition: all 0.4s;
            &:hover {
              background-color: #f95555;
              h3 {
                color: #fff;
              }
            }
            h3 {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 32px;
              color: #f95555;
            }
          }
        }
        .tripleDiv {
          display: flex;
          gap: 27px;
          .meal {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 180px;
            height: 140px;
            border: 2px solid rgba(43, 43, 43, 0.05);
            border-radius: 10px;
            transition: all 0.7s;
            cursor: pointer;
            &:hover {
              border: 1px solid #f95555;
            }
            img {
              transform: translateY(-25px);
            }
            h4 {
              //   margin-top: 20px;
              font-family: "Poppins";
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 32px;
              color: #f95555;
            }
          }
        }
      }
      .right {
        position: relative;
        .imges {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          img {
            position: absolute;
            width: 410px;
            height: 587px;
            border-radius: 25px;
            opacity: 0;
            &:nth-of-type(1) {
              position: relative;
              width: 460px;
              height: 625px;
              // z-index: 5;
              opacity: 1;
            }
          }
        }
        .topLeft {
          position: absolute;
          top: 93px;
          left: -77px;
          padding: 20px;
          background: #ffffff;
          box-shadow: 0px 10px 30px rgba(43, 43, 43, 0.2);
          border-radius: 10px;
          z-index: 99;
          h3 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 32px;
            color: #f95555;
            margin-bottom: 8px;
          }
          h4 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            color: #000000;
          }
          img {
            position: absolute;
            top: -18px;
            left: 115px;
          }
        }
        .divcha {
          display: flex;
          gap: 30px;
          justify-content: center;
          transform: translateY(-70px);
          .div1 {
            display: inline-flex;
            background: #fff;
            padding: 18px 30px;
            border-radius: 4px 20px;
            box-shadow: 0px 10px 30px rgba(43, 43, 43, 0.2);
          }
          .div2 {
            display: inline-flex;
            background: #f95555;
            padding: 18px 30px;
            border-radius: 4px 20px;
            box-shadow: 0px 10px 30px rgba(43, 43, 43, 0.2);
            cursor: pointer;
          }
        }
        .ad {
          display: flex;
          gap: 20px;
          align-items: center;
          justify-content: center;
          img {
            padding: 10px;
            background: #ffffff;
            box-shadow: 0px 10px 30px rgba(43, 43, 43, 0.2);
            border-radius: 50%;
          }
          h4 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 32px;
            color: #4a4a4a;
            padding-left: 16px;
            border-left: 2px solid #f95555;
          }
        }
      }
    }
    .section2 {
      display: flex;
      flex-direction: column;
      padding-bottom: 120px;
      flex-wrap: wrap;
      h2 {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        color: #2b2b2b;
        text-align: center;
        position: relative;
        svg {
          position: absolute;
          top: 45px;
          left: 736px;
        }
      }
      .pet {
        display: flex;
        gap: 48px;
        align-items: center;
        margin: auto;
        flex-wrap: wrap;
        .meall {
          margin: auto;
          margin-top: 60px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 1px solid rgba(43, 43, 43, 0.05);
          border-radius: 10px;
          transition: all 0.6s;
          background: #ffffff;
          border-radius: 25% 25% 10% 10%;
          padding: 0 30px 42.29px;
          &:hover {
            filter: drop-shadow(0px 10px 30px rgba(43, 43, 43, 0.2));
            .img {
              img {
                background: linear-gradient(rgba(242, 241, 241, 0), #d9d9d9);
              }
            }
          }
          .img {
            display: flex;
            transform: translateY(-30px);
            gap: 25px;
            .star {
              display: inline-flex;
              flex-direction: column;
              align-items: center;
              justify-content: end;
              h4 {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 140%;
                color: #2b2b2b;
                margin-top: 7px;
              }
            }
            img {
              width: 180px;
              padding: 10px;
              border-radius: 50%;
              transition: all 0.6s;
              background: linear-gradient(#fff, #d9d9d9);
            }
            .heart {
              display: inline-flex;
              flex-direction: column;
              align-items: center;
              justify-content: end;
              transition: all 0.7s;
              svg {
                cursor: pointer;
                &:hover {
                  fill: #f95555;
                  path {
                    stroke: #f95555;
                  }
                }
              }
              h4 {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 140%;
                color: #2b2b2b;
                margin-top: 7px;
              }
            }
          }
          h4 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #2b2b2b;
            margin-bottom: 12px;
          }
          p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            text-align: center;
            color: #686868;
          }
          .cost {
            display: flex;
            gap: 40px;
            margin-top: 42px;
            h4 {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 600;
              font-size: 28px;
              line-height: 32px;
              text-align: center;
              color: #2b2b2b;
              margin: 0;
            }
            h5 {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 32px;
              color: #2b2b2b;
              cursor: pointer;
              &:hover {
                color: #f95555;
              }
            }
          }
        }
      }
      .div1 {
        width: 239px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #f95555;
        box-shadow: 0px 10px 30px rgba(249, 85, 85, 0.2);
        border-radius: 4px 20px;
        padding: 12px 30px;
        cursor: pointer;
        border: 1px solid #f95555;
        transition: all 0.4s;
        margin: 60px auto 0;
        &:hover {
          background-color: #ffffff;
          h3 {
            color: #f95555;
          }
          svg {
            path {
              fill: #f95555;
            }
          }
        }
        h3 {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 32px;
          color: white;
        }
      }
    }
    .section3 {
      display: flex;
      flex-direction: column;
      padding-top: 120px;
      padding-bottom: 120px;
      background: #fdfaf6;
      h2 {
        position: relative;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 120%;
        color: #2b2b2b;
        text-align: center;
        svg {
          position: absolute;
          top: 45px;
          left: 732px;
        }
      }
      .pet {
        display: flex;
        gap: 48px;
        align-items: center;
        margin: auto;
        flex-wrap: wrap;
        .meall {
          background: #ffffff;
          border: 1px solid rgba(43, 43, 43, 0.05);
          border-radius: 100px;
          margin: auto;
          margin-top: 60px;
          display: flex;
          flex-direction: column;
          align-items: center;
          transition: all 0.6s;
          padding: 0 30px 42.29px;
          &:hover {
            filter: drop-shadow(0px 10px 30px rgba(43, 43, 43, 0.2));
            img {
              background: linear-gradient(rgba(242, 241, 241, 0), #d9d9d9);
            }
          }
          img {
            width: 180px;
            transform: translatey(-30px);
            border-radius: 50%;
            background: linear-gradient(#fff, #d9d9d9);
          }
          h4 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            color: #f95555;
            margin-bottom: 12px;
          }
          p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 140%;
            text-align: center;
            color: #686868;
            // padding: ;
          }
          .div1 {
            display: block;
            gap: 10px;
            align-items: center;
            margin-top: 24px;
            &::after {
              transition: all 0.5s;
              content: "";
              display: block;
              height: 2px;
              width: 0;
              background-color: #2b2b2b;
            }
            &:hover {
              &::after {
                width: 100%;
              }
            }
            .divv {
              display: flex;
              gap: 10px;
              align-items: center;
              a {
                text-align: center;
                font-family: "Poppins";
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 32px;
                color: #2b2b2b;
                text-decoration: none;
              }
              svg {
                path {
                  fill: #2b2b2b;
                }
              }
            }
          }
        }
      }
    }
    .section4 {
      display: flex;
      padding-top: 120px;
      background-color: #fdfaf6;
      padding: 0 0 150px 70px;
      .title {
        position: relative;
        margin-right: 59px;
        .meal {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 180px;
          border: 0.5px solid rgba(43, 43, 43, 0.05);
          border-radius: 10px;
          transition: all 0.7s;
          background: #fff;
          cursor: pointer;
          margin-top: 20px;
          &:hover {
            border: 1px solid #f95555;
          }
          img {
            margin: 0;
            transform: translateY(-25px);
          }
          h4 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 32px;
            color: #f95555;
          }
        }
        h2 {
          position: absolute;
          left: 280px;
          width: 471px;
          top: 0px;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 700;
          font-size: 50px;
          line-height: 120%;
          text-transform: capitalize;
          color: #2b2b2b;
        }
        p {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 170%;
          text-transform: capitalize;
          color: #4a4a4a;
          width: 390px;
          margin: 40px 0;
        }
        .div1 {
          width: 206px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #f95555;
          box-shadow: 0px 10px 30px rgba(249, 85, 85, 0.2);
          border-radius: 4px 20px;
          padding: 12px 30px;
          cursor: pointer;
          border: 1px solid #f95555;
          transition: all 0.4s;
          &:hover {
            background-color: #ffffff;
            h3 {
              color: #f95555;
            }
            svg {
              path {
                fill: #f95555;
              }
            }
          }
          h3 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: white;
          }
        }
        .svg {
          position: absolute;
          left: 270px;
          top: 365px;
        }
      }
      img {
        height: 100%;
        margin-top: 70px;
      }
      .comments {
        .comment {
          h5 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #878787;
          }
          p {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 140%;
            color: #000000;
            margin: 8px 0 20px;
          }
          .divc {
            display: flex;
            align-items: center;
            gap: 20px;
            img {
              margin: 0;
              padding: 10px;
              background: #fff;
              border-radius: 50%;
              box-shadow: 0px 10px 30px rgba(43, 43, 43, 0.2);
            }
            .title {
              padding-left: 16px;
              border-left: 2px solid #f95555;
            }
          }
          h4 {
            font-family: "Poppins";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 120%;
            color: #4a4a4a;
            margin-bottom: 5px;
          }
          &:nth-of-type(1) {
            padding: 0px 0px 40px;
            margin-bottom: 40px;
            border-bottom: 2px solid #f3f0ec;
          }
        }
      }
    }
    .section5 {
      display: flex;
      padding-top: 120px;
      padding-bottom: 120px;
      gap: 60px;
      align-items: flex-end;
      justify-content: center;
      img {
        width: 580px;
        height: 526.29px;
      }
      .title {
        width: 560px;
        h2 {
          position: relative;
          font-family: "Poppins";
          font-style: normal;
          font-weight: 700;
          font-size: 50px;
          line-height: 120%;
          color: #2b2b2b;
          margin-bottom: 60px;
          svg {
            position: absolute;
            left: 296px;
            top: 47px;
          }
        }
        .words {
          padding: 40px;
          margin-bottom: 40px;
          .vertifys {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .vertify {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 152px;
              height: 26px;
              padding: 5px 10px;
              background: #ecfdf5;
              border-radius: 4px;
              h5 {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                color: #064e3b;
              }
            }
            h6 {
              font-family: "Poppins";
              font-style: normal;
              font-weight: 400;
              font-size: 12px;
              line-height: 18px;
              text-align: right;
              color: #64748b;
            }
          }
          h4 {
            font-family: "Poppins";
            font-style: italic;
            font-weight: 500;
            font-size: 20px;
            line-height: 30px;
            color: #2b2b2b;
            width: 480px;
            margin-top: 20px;
            margin-bottom: 40px;
          }
          .comment {
            display: flex;
            align-items: center;
            gap: 20px;
            img {
              width: 60px;
              height: 60px;
              margin: 0;
              padding: 10px;
              background: #fff;
              border-radius: 50%;
              box-shadow: 0px 10px 30px rgba(43, 43, 43, 0.2);
            }
            .title {
              padding-left: 16px;
              border-left: 2px solid #f95555;
              h5 {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 120%;
                color: #878787;
                margin-bottom: 8px;
              }
              h4 {
                font-family: "Poppins";
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 120%;
                color: #4a4a4a;
                margin-top: 0;
                margin-bottom: 5px;
              }
              .stars {
                display: flex;
                gap: 5px;
              }
            }
          }
        }
        .divcha {
          display: flex;
          justify-content: space-between;
          padding-right: 40px;
          .div1 {
            display: inline-flex;
            background: #fff;
            padding: 13px 30px;
            border: 1px solid #f4f4f4;
            border-radius: 4px 20px;
          }
          .div2 {
            display: inline-flex;
            background: #f95555;
            align-items: center;
            padding: 0 30px;
            border-radius: 4px 20px;
            box-shadow: 0px 10px 30px rgba(43, 43, 43, 0.2);
          }
        }
      }
    }
  }
  footer {
    border-top: 1px solid #fdd5d5;
    .foot {
      display: flex;
      justify-content: space-between;
      padding: 40px 70px 48px;
      border-bottom: 1px solid #fdd5d5;
      flex-wrap: wrap;
      gap: 20px;
      .row {
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        h3 {
          font-family: "Inter";
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #878787;
          margin-bottom: 4px;
        }
        a {
          text-decoration: none;
          margin-top: 12px;
          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          color: #2b2b2b;
          transition: all 0.4s;
          &:hover {
            color: #f95555;
          }
        }
        &:nth-of-type(1) {
          width: 166px;
          img {
            width: 50px;
            height: 50px;
          }
          h3 {
            margin-top: 32px;
            font-family: "Poppins";
            font-style: italic;
            font-weight: 400;
            font-size: 24px;
            line-height: 30px;
            color: #2b2b2b;
          }
        }
      }
    }
    .copyright {
      padding: 48px 70px 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .one {
        display: flex;
        gap: 5px;
        h3 {
          text-align: center;
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 18px;
          line-height: 24px;
          color: rgba(18, 18, 18, 1);
          padding-bottom: 8px;
        }
      }
      .icons {
        display: flex;
        gap: 24px;
        padding-bottom: 8px;
        svg {
          cursor: pointer;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1326px) {
  body {
    max-width: 1326px;
    margin: auto;
  }
}
@media screen and (max-width: 1200px) {
  main {
    .section2 {
      h2 {
        svg {
          left: 673px !important;
        }
      }
    }
    .section3 {
      h2 {
        svg {
          left: 673px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 1100px) {
  main {
    .section2 {
      h2 {
        svg {
          left: 625px !important;
        }
      }
    }
    .section3 {
      h2 {
        svg {
          left: 625px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  main {
    .section2 {
      h2 {
        svg {
          left: 585px !important;
        }
      }
    }
    .section3 {
      h2 {
        svg {
          left: 585px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  main {
    .section2 {
      h2 {
        svg {
          left: 525px !important;
        }
      }
    }
    .section3 {
      h2 {
        svg {
          left: 525px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  main {
    .section2 {
      h2 {
        svg {
          left: 470px !important;
        }
      }
    }
    .section3 {
      h2 {
        svg {
          left: 470px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 750px) {
  header {
    ul {
      gap: 20px !important;
    }
  }
  footer {
    .copyright {
      justify-content: center !important;
    }
  }
  main {
    .section2 {
      h2 {
        svg {
          left: 450px !important;
        }
      }
    }
    .section3 {
      h2 {
        svg {
          left: 450px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  header {
    ul {
      li {
        &:nth-of-type(4) {
          display: none;
        }
      }
    }
  }
  main {
    .section2 {
      h2 {
        svg {
          left: 398px !important;
        }
      }
    }
    .section3 {
      h2 {
        svg {
          left: 398px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 540px) {
  header {
    ul {
      i {
        display: block !important;
      }
      li {
        display: none;
      }
    }
  }
  main {
    .section2 {
      h2 {
        svg {
          left: 345px !important;
        }
      }
    }
    .section3 {
      h2 {
        svg {
          left: 345px !important;
        }
      }
    }
  }
  footer {
    .foot {
      justify-content: center !important;
    }
  }
}
@media screen and (max-width: 490px) {
  main {
    .section2 {
      h2 {
        svg {
          left: 160px !important;
          top: 105px !important;
        }
      }
    }
    .section3 {
      h2 {
        svg {
          left: 160px !important;
          top: 105px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 390px) {
  header {
    padding: 37px 40px 27px !important;
    .svg {
      gap: 30px !important;
    }
  }
  main {
    .section2 {
      h2 {
        font-size: 250% !important;
        svg {
          width: 35% !important;
          height: 45% !important;
          top: 70px !important;
          left: 125px !important;
        }
      }
    }
    .section3 {
      h2 {
        font-size: 250% !important;
        svg {
          width: 35% !important;
          height: 45% !important;
          top: 70px !important;
          left: 125px !important;
        }
      }
    }
  }
  footer {
    .foot {
      .row {
        align-items: center;
        justify-content: center;
        &:nth-of-type(1) {
          h3 {
            text-align: center;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 300px) {
  header {
    padding: 37px 40px 27px !important;
    .svg {
      gap: 30px !important;
    }
  }
  main {
    .section2 {
      h2 {
        font-size: 250% !important;
        svg {
          width: 40% !important;
          height: 45% !important;
          top: 70px !important;
          left: 108px !important;
        }
      }
    }
    .section3 {
      h2 {
        font-size: 250% !important;
        svg {
          width: 40% !important;
          height: 45% !important;
          top: 70px !important;
          left: 108px !important;
        }
      }
    }
  }
}
